<ul>
  {{#each e in list itemController="event"}}
    <li class="events-list">
      <span class="span6">
        <a data-toggle="modal" class="span4 event-title" {{action setCurrentEvent e target="controller"}}>{{e.title}}</a>
        <span class="event-attending">Asistiran * personas</span>
      </span>
      <span class="event-button-box">
        {{#if isAttending}}
          <button class="btn btn-warning"><i class="icon-minus icon-white"></i> No asistiré</button>
        {{else}}
          <button class="btn btn-success"><i class="icon-plus icon-white"></i> Asistiré</button>
        {{/if}}
      </span>

      <span class="event-button-box">
        <a role="button" class="btn btn-info" data-toggle="modal" {{action setCurrentEvent e target="controller"}}><i class="icon-eye-open icon-white"></i> Más info</a>
      </span>

      <span class="event-button-box">
        {{#if e.isOwner}}
          <button class="btn btn-danger"><i class="icon-trash icon-white"></i> Borrar</button>
        {{/if}}
      </span>
    </li>
  {{/each}}
</ul>