#registered-users-index
{
  font-size: 2em;
}

#register-section-index, #login-section-index
{
  font-size: 1.25em;
}

.index-section
{
  button
  {
    font-size: 0.95em;
    font-weight: bold;
    letter-spacing: 0.1em;
  }
}

.sign-up-form
{
  label
  {
    font-weight: bold;
  }
  .radio-button-label
  {
    font-weight: normal;
  }
}

.nav li
{
  cursor: pointer;
}

