#registered-users-index
{
  font-size: 2em;
}

#register-section-index, #login-section-index
{
  font-size: 1.25em;
}

.index-section
{
  button
  {
    font-size: 0.95em;
    font-weight: bold;
    letter-spacing: 0.1em;
  }
}

.sign-up-form
{
  .radio-button-label
  {
    font-weight: normal;
  }
}

.profile-form
{
  .radio-button-label
  {
    font-weight: normal;
  }
}

.control-label
{
  font-weight: bold;
}

.nav li
{
  cursor: pointer;
}

.disabled
{
  cursor: not-allowed;
  color: #888;
}