h1
{
  padding: 1% 0 2.5% 0;
}

input[type="radio"]
{
  margin-top: 0;
}

.main-content
{
  width: 85%;
  margin: 2.5% auto 0 auto;
}

.index-section
{
  text-align: center;
  & section
  {
    padding: 2.5% 0;
  }
  span
  {
    display: block;
    margin-bottom: 15px;
  }
  button
  {
    display: block;
    position: relative;
    width: 15%;
    height: 45px;
    margin: 0 auto;
    padding: 5px;
  }
}

#registered-users-index
{
  padding: 5% 0;
}

.sign-up-form
{
  width: 70%;
  margin: 0 auto;
  .radio
  {
    width: 90px; 
    float: left;
    span
    {
      display: block;
      padding: 5px 0;
    }
  }
  label
  {
    text-align: right;
    float: left;
    width: 90px;
    padding: 5px 12px 0 0;
    display: block;
  }
  .two-lines-label
  {
    padding-top: 0;
    margin-top: -5px;
  }
  button
  {
    width: 15%;
    margin: 0 auto;
    display: block;
  }
  & > div
  {
    clear: both;
    padding: 25px 0;
  }
}

.column
{
  width: 45%;
  & > div
  {
    padding: 5px 0;
  }
}

.left-column
{
  @extend .column;
  float: left;
}

.right-column
{
  @extend .column;
  float: right;
}