<h1>Mis eventos</h1>

{{debug}}
{{log ownEvents}}

Eventos (model):
<ul>
  {{#each e in model.myEvents}}
  <li>{{e.title}}</li>
  {{/each}}
</ul>

Eventos (notMine):
<ul>
  {{#each e in notMine.notMyEvents}}
  <li>{{e.title}}</li>
  {{/each}}
</ul>