<section class="index-section">
  <section id="registered-users-index">
    Hay {{registeredUsers}} usuarios registrados en el sistema
  </section>

  <section id="register-section-index">
    <span>¿Quieres ser uno de ellos?</span>

    <button class="btn btn-success" {{action "signUpAction"}}>Registrarme</button>
  </section>

  <section id="login-section-index">
    <span>¿Ya eres uno de ellos?</span>

    <button class="btn btn-primary" {{action "signInAction"}}>Entrar</button>
  </section>
</section>